[submodule "SILK-USENIXATC2019"]
	path = SILK-USENIXATC2019
	url = https://github.com/theoanab/SILK-USENIXATC2019.git
[submodule "YCSB-SILK"]
	path = YCSB-SILK
	url = https://github.com/Klaw807/YCSB-SILK.git
